html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: #eceff1;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url("assets/BG1.jpg");
  background-size: cover;
  overflow: wrap;
}

header {
  width: 100vw;
  height: 120px;
  font-family: "Poppins";
  background-color: #808080;
  background-color: rgba(94, 94, 94, 0);
  border: 1px solid #000;
}

header .logo {
  display: table;
  height: 120px;
  width: 120px;
  float: left;
  margin-left: 84px;
}

header .logo img {
  height: 100%;
  width: 100%;
}
header .company-name {
  height: 100%;
  padding-top: 20px;
  font-size: 40px;
  font-family: "Goudy Old Style", sans-serif;
}

.content {
  width: auto;
  background-image: url("assets/BG2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  flex-grow: 1;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(255, 255, 255, 0.1); /* Black w/ opacity */
  padding-top: 130px;

}

/* Modal Content/Box */
.modal-content-outside {
  padding: 5px;
  margin: 2px auto; /* 15% from the top and centered */
  width: 55%; /* Could be more or less, depending on screen size */
  background-color: #fff;
}
.modal-content-inside {
  background-image: url("assets/login_bg.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.modal-content{
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
}
.modal-content .login_header {
  background-color: #fbf782;
  max-height: 100px;
  min-height: 100px;
  font-size: 32px;
  padding: 20px;
  background: rgba(251, 247, 130, 0.7);
}
.modal-content button {
  background-color: #2D2D2D; /* This HEX is the color of the button */
  color: #fff;
  padding: 10px ;
  border-radius: 8px;
  width: 45%;
  margin-top: 10px;
  margin-bottom: 10px;
  float: right;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  border: 2px solid #747474;
  resize: vertical;
  border-radius: 10px;
  background: inherit;
}
input[type="button"]{
  
  border: none;
  background-color: inherit;
  color: yellow;
  text-decoration: underline;
  cursor: pointer;
  display: inline-block;
}
footer button{
	border: none;
	font: inherit;
	cursor: pointer;
  color: white;
  background: black;
  padding:0 10px;
}
/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
footer {
  background-color: black;
  height: 60px;
}
@media screen and (max-width: 767px) {
  header {
    font-size: 20px;
  }
}
