html {
  height: 100%;  margin: 0;
  padding: 0;
}
body {
  background: #eceff1;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url("assets/BG1.jpg");
  background-size: cover;
}
@media (max-width: 600px) {
  body {
    border-top: 16px solid #ffa100;
  }
}

header {
  width: 100vw;
  height: 135px;
  border-bottom: solid 10px #000;
  font-family: "Poppins";
  background-color: #808080;
  background-color: rgba(94, 94, 94, 0.6);
}

header .inner {
  width: 99%; /* This is the inner width of the content inside of your header (80%, etc) */
  height: 100%;
  display: block;
  margin: 0 auto;
}

header .logo {
  display: table;
  height: 100%;
  float: left;
  margin-left: 20px;
  padding:0;
  margin:0;
  padding-left: 10px;
}
header .logo div {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
header .logo img {
  height: 110px;
  margin-top: 5px; /* Optical alignment of the logo */
}
header label {
  width: 100%;
  padding: 0%;
  display: inline-block;
  font-size: larger;
  margin: 0px;
}
header select {
  height: 35px;
  width: 75%;
  display: inline-block;
  background-color: rgba(255,255,255,.3);
  border: solid 1px black;
  border-radius: 5px;
  font-size: larger
}
header .button {
  height: 35px;
  background-color: #fff; /* This HEX is the color of the button */
  color: #000;
  border-radius: 4px;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
	border: none;
}

header .button:hover {
  filter: brightness(0.95);
}
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.side {
  background-size: cover;
  flex-grow: 1;
}
.content {
  background-image: url("assets/BG2.jpg");
  background-size: cover;
  flex-grow: 1;
}
.imgcontainer {
  text-align: center;
}  
.flex-container {
  display: flex;
  flex-direction: row;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  padding: 20px;
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
}
.modal-content .avatar {
  max-height: 50px;
  min-height: 5px;
}
.modal-content .button {
  background-color: #1ab26b; /* This HEX is the color of the button */
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.modal-content .button:hover {
  filter: brightness(1.05);
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  border: 2px solid green;
  resize: vertical;
}
/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;

}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
footer{
  background-color: black;
  height: 60px;
}
